.btn {
  display: inline-block;
  border: 1px solid black;
  width: auto;
  cursor: pointer;
  box-shadow: violet;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
  &.primary {
    @include button-style($primary, #fff);
  }
  &.warning {
    @include button-style($warning, #fff);
  }
  &.success {
    @include button-style($success, #fff);
  }
  &.danger {
    @include button-style($danger, #fff);
  }
}