@mixin button-size($paddingY, $paddingX, $fontSize, $borderRadius) {
  padding: $paddingY $paddingX;
  font-size: $fontSize;
  border-radius: $borderRadius;
}

@mixin button-style($backColor, $color) {
  background-color: $backColor;
  color: $color;
}